@use "../base/vars" as *;

.content {
}

.grid-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-box {
  padding-top: 3em;
  padding-left: 6em;
  order: 1;

  h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: $coral;
  }
}

.image-box {
  order: 2;
  position: relative;
  img {
    width: 80%;
    // position: absolute;
    // top: 50%;
  }
}
