@use "../base/vars" as *;

.masthead {
  display: flex;
  height: 85vh;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  left: auto !important;
  top: auto !important;
  padding-top: 55px;
}

.masthead__item {
  flex-shrink: 0;
  width: 600px;
}

.masthead__item:first-of-type {
  background: $coral;
}
.masthead__item:nth-of-type(2) {
  background: $lightgrey;
}

.masthead__item:last-of-type {
  background: $dark;
}

.masthead {
  font-family: "Gilroy-bold";
}

.hoverus {
  position: absolute;
  top: 65%;
  left: 16%;
  img {
    position: absolute;
    top: -1.5em;
    width: 2em;
    height: 2em;
    transform: rotate(-30deg);
  }
  p {
    font-size: 0.7em;
    color: white;
    font-family: "Gilroy-light";
  }
}

.hoverskill {
  cursor: pointer;
  transition: opacity 0.3s;
}

.hoverskill:hover {
  opacity: 40%;
}

.blink_me {
  // animation: blinker 2s ease-in infinite;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

li {
  width: max-content;
}

.scrollme {
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  right: 51%;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

h2 {
  font-size: 1.3em;
  .italictext {
    font-family: "Libre-Baskerville-italic";
    color: white;
    font-size: 1.1em;
  }
}

.skill-categories {
  font-size: 1em;
  list-style: none;
  padding-inline-start: 0px;
  li {
    color: white;
    font-size: 1.5em;
    line-height: 1.8em;
  }
}

.masthead__item1-div {
  padding-left: 4em;
  padding-top: 20%;
}

h1 {
  font-family: "Gilroy-bold";
  font-size: 7em;
  line-height: 0.9em;
}

.masthead__item2-div {
  h1 {
    position: absolute;
    margin-left: -2.3em;
    margin-top: 0.5em;
  }

  .dot {
    color: $yellow;
  }

  .portrait_svg {
    height: 37vw;
    position: relative;
    left: 10vw;
    top: 2vw;
  }
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  transition: 0.6s;
}

.svg_color_coral {
  fill: $coral;
}

.dot {
  font-size: 1.2em;
}

.masthead__item3-div {
  h1 {
    color: $yellow;
    margin-left: -0.5em;
  }

  .dot {
    color: $coral;
  }
}
