@use "../base/vars" as *;

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
// body,
// html {
//   height: 100%;
//   padding: 0;
//   margin: 0;
//   font-family: "Arimo", sans-serif;
// }

main {
  z-index: 2;
  position: relative;
  height: 100%;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
  -ms-transition: transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
}

.sidebar {
  height: 450px;
  width: 700px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  background-color: white;
  padding: 4rem 5rem 2rem 8rem;

  .copytext {
    line-height: 1.9;
    width: 60%;
    font-size: 0.8em;
  }

  h2 {
    font-size: 2em;
    font-family: "Gilroy-bold";
    .italictext {
      color: $coral;
    }
  }

  .contact {
    position: absolute;
    bottom: 15px;
    p {
      font-family: "Libre-Baskerville-italic";
      font-size: 0.7em;
      margin-bottom: 0.2em;
    }
    a {
      font-size: 1.3em;
      font-family: "Gilroy-bold";
      line-height: 0.9em;
      text-decoration: none;
      color: $dark;
    }
    a:hover {
      text-decoration: none;
      color: $coral;
    }
    a:visited {
      text-decoration: none;
      color: $dark;
    }
  }

  .mydetails {
    font-family: "Gilroy-light";
    .myname {
      font-family: "Gilroy-bold";
      text-transform: uppercase;
    }

    padding-top: 3em;
    line-height: 0.5;
    font-size: 0.7em;
  }
}

.bar {
  display: block;
  height: 3px;
  width: 20px;
  background-color: $dark;
  margin: 3px auto;
  border-radius: 100px;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

//menu icon
.nav-left {
  position: fixed;
  left: 30px;
  top: 290px;
}

.nav-left.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-left.visible-xs .active .bar {
  background-color: $dark;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(5px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-7px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-right {
  -webkit-transform: translateX(700px);
  -moz-transform: translateX(700px);
  -ms-transform: translateX(700px);
  -o-transform: translateX(470px);
  transform: translateX(700px);
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all 0.7s 0.2s ease-in-out;
  -moz-transition: all 0.7s 0.2s ease-in-out;
  -ms-transition: all 0.7s 0.2s ease-in-out;
  -o-transition: all 0.7s 0.2s ease-in-out;
  transition: all 0.7s 0.2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all 0.7s 0.4s ease-in-out;
  -moz-transition: all 0.7s 0.4s ease-in-out;
  -ms-transition: all 0.7s 0.4s ease-in-out;
  -o-transition: all 0.7s 0.4s ease-in-out;
  transition: all 0.7s 0.4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all 0.7s 0.6s ease-in-out;
  -moz-transition: all 0.7s 0.6s ease-in-out;
  -ms-transition: all 0.7s 0.6s ease-in-out;
  -o-transition: all 0.7s 0.6s ease-in-out;
  transition: all 0.7s 0.6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all 0.7s 0.8s ease-in-out;
  -moz-transition: all 0.7s 0.8s ease-in-out;
  -ms-transition: all 0.7s 0.8s ease-in-out;
  -o-transition: all 0.7s 0.8s ease-in-out;
  transition: all 0.7s 0.6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: $dark;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
