@use "../base/vars" as *;

body {
  background: white;
  margin: 0 40px;
  // font-family: "Lato-regular";
  color: $dark;
}

.hidden {
  display: none;
}

footer {
  font-size: 10px;
  padding: 1em;
  margin-top: 2em;
  text-align: center;
  font-family: "Gilroy-Light";
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: 1em;
    font-family: "Gilroy-bold";
    line-height: 0.9em;
    text-decoration: none;
    color: $dark;
    position: absolute;
    right: 42px;
  }
  a:hover {
    text-decoration: none;
    color: $coral;
  }
  a:visited {
    text-decoration: none;
    color: $dark;
  }
}
