//typography
@font-face {
  font-family: "Gilroy-bold";
  src: url(fonts/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: "Gilroy-light";
  src: url(fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: "Lato-reg";
  src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-light";
  src: url(/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Libre-Baskerville-italic";
  src: url(/fonts/LibreBaskerville-Italic.ttf);
}

//font styling
